@model VideoExplicativo.Models.tblBonos

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tblBonos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Departamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Departamento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Motivo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Motivo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblUsuario.Usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblUsuario.Usuario)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdBono }) |
    @Html.ActionLink("Back to List", "Index")
</p>
